<!doctype html>
<title>File Upload</title>
<h1>Welcome to CSV file upload page</h1>

<a href="https://github.com/szczepanski/csv-upload-flask-api-server">git hub source code</a>


<h5>Once the file is submitted, it:<h5>
<ul>
	<li> uploads to EC2 </li>
	<li> converts into JSON </li>
	<li> uploades to S3 bucket </li>
</ul>
<br>
<br>
<h5>Select your CSV file to upload<h5>


<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
