<!doctype html>
<title>File Upload</title>
<h1>Welcome to file upload page</h1>
<h2>Select your CSV file to upload</h2>
<h3>Once the file is submitted, it:<br>
	- uploadsto EC2 <br>
	- converts into JSON<br>
	- uploades to S3 bucket</h3>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
